Service Oriented Architecture/nevernote.server/WebContent/wsdl/DatabaseConnection.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.database.nevernote" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server.database.nevernote" xmlns:intf="http://server.database.nevernote" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server.database.nevernote" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="openConnection">
    <complexType/>
   </element>
   <element name="openConnectionResponse">
    <complexType/>
   </element>
   <element name="closeConnection">
    <complexType/>
   </element>
   <element name="closeConnectionResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="openConnectionRequest">

      <wsdl:part element="impl:openConnection" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="closeConnectionRequest">

      <wsdl:part element="impl:closeConnection" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="closeConnectionResponse">

      <wsdl:part element="impl:closeConnectionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="openConnectionResponse">

      <wsdl:part element="impl:openConnectionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DatabaseConnection">

      <wsdl:operation name="openConnection">

         <wsdl:input message="impl:openConnectionRequest" name="openConnectionRequest">

       </wsdl:input>

         <wsdl:output message="impl:openConnectionResponse" name="openConnectionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="closeConnection">

         <wsdl:input message="impl:closeConnectionRequest" name="closeConnectionRequest">

       </wsdl:input>

         <wsdl:output message="impl:closeConnectionResponse" name="closeConnectionResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DatabaseConnectionSoapBinding" type="impl:DatabaseConnection">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="openConnection">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="openConnectionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="openConnectionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="closeConnection">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="closeConnectionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="closeConnectionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DatabaseConnectionService">

      <wsdl:port binding="impl:DatabaseConnectionSoapBinding" name="DatabaseConnection">

         <wsdlsoap:address location="http://localhost:7672/nevernote.server/services/DatabaseConnection"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
