Service Oriented Architecture/nevernote.server/WebContent/wsdl/PublicUsers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.user.nevernote" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server.user.nevernote" xmlns:intf="http://server.user.nevernote" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server.user.nevernote" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createUser">
    <complexType>
     <sequence>
      <element name="user" type="impl:User"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="User">
    <sequence>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="nickName" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="userId" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="createUserResponse">
    <complexType/>
   </element>
   <complexType name="InvalidUserDetailsFault">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="nickName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="fault" type="impl:InvalidUserDetailsFault"/>
   <element name="findUser">
    <complexType>
     <sequence>
      <element name="nickName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findUserResponse">
    <complexType>
     <sequence>
      <element name="findUserReturn" type="impl:User"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="InvalidUserFault">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="fault1" type="impl:InvalidUserFault"/>
   <element name="getAllUsers">
    <complexType/>
   </element>
   <element name="getAllUsersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllUsersReturn" type="impl:User"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createUserRequest">

      <wsdl:part element="impl:createUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="InvalidUserFault">

      <wsdl:part element="impl:fault1" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createUserResponse">

      <wsdl:part element="impl:createUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findUserRequest">

      <wsdl:part element="impl:findUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllUsersRequest">

      <wsdl:part element="impl:getAllUsers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllUsersResponse">

      <wsdl:part element="impl:getAllUsersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findUserResponse">

      <wsdl:part element="impl:findUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="InvalidUserDetailsFault">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PublicUsers">

      <wsdl:operation name="createUser">

         <wsdl:input message="impl:createUserRequest" name="createUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:createUserResponse" name="createUserResponse">

       </wsdl:output>

         <wsdl:fault message="impl:InvalidUserDetailsFault" name="InvalidUserDetailsFault">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="findUser">

         <wsdl:input message="impl:findUserRequest" name="findUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:findUserResponse" name="findUserResponse">

       </wsdl:output>

         <wsdl:fault message="impl:InvalidUserFault" name="InvalidUserFault">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAllUsers">

         <wsdl:input message="impl:getAllUsersRequest" name="getAllUsersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllUsersResponse" name="getAllUsersResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PublicUsersSoapBinding" type="impl:PublicUsers">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="InvalidUserDetailsFault">

            <wsdlsoap:fault name="InvalidUserDetailsFault" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="findUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="InvalidUserFault">

            <wsdlsoap:fault name="InvalidUserFault" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAllUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllUsersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllUsersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PublicUsersService">

      <wsdl:port binding="impl:PublicUsersSoapBinding" name="PublicUsers">

         <wsdlsoap:address location="http://localhost:7672/nevernote.server/services/PublicUsers"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
